.body{
    margin: 0;
    background-color: rgb(49, 49, 49);
    height: 100vh;
    align-items: center;
    display: flex;
}

body {
    margin: 0;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center{
    text-align: center;
}

.p-container {
    width: 100vw;
}

h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: 'Roboto Slab', serif;
}

.img img{
    width: calc(15vw + 100px);
    height: auto;
    border-radius: 10px;
}

.img {
    margin: 10px;
}

.info {
    margin: 10px;
    max-width: 600px;
}