{% extends 'navbar_layout.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="">
    <div class="sec d-flex justify-content-center align-items-center" id="about">
        <div class="main about align-items-center">
            <div class="img align-items-center d-flex" ><img src="{% static 'img/ME.jpg' %}" alt="" /></div>
            <div class="info align-items-center d-flex">
                <div>
                    <h1>Leonardo</h1>
                    <h4>
                        Born 7 August 2000, i am young and creative web developer based in Jakarta. Information System student who currently study in University of Indonesia. Have great interest in software developing.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}