{% extends 'navbar_layout.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="">
    <div class="contact sec" id="contact">
        <h1 class="text-align-center mb-5 pt-5">Want to know me more?</h1>
        <br/><br/><br/>
        <h3 class="ml-5">Contact me on:</h3>
        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex justify-content-center flex-column sos">
                <img class="social" src="{% static 'img/line.png' %}" alt="LINE_ID" />
                <h4 class="ah">LineID: leonardo2000</h4>
            </div>
            <div class="d-flex justify-content-center flex-column sos">
                <img class="social" src="{% static 'img/gmail.png' %}" alt="GMAIL" />
                <h4 class="ah">Email: leonardoeinstein2000 @gmail.com</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}