{% extends 'navbar_layout.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="">
    <div class="experience sec container" id="exp">
        <h1 class="text-align-center mb-5 pt-5">Experiences</h1>
        <div class="row">
            <div class="col-md-auto text-align-center">
                <img class="exp-img" src="{% static 'img/ui.svg' %}" alt="" />
            </div>
            <div class="col">
                <h3>Information System - University of Indonesia</h3>
                <p class="text-light">Student, 2018-now</p>
                <p>
                    Studying in University of Indonesia since 2018 majoring in Information System.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto text-align-center">
                <img class="exp-img" src="{% static 'img/bem.svg' %}" alt="" />
            </div>
            <div class="col">
                <h3>BEM Fasilkom UI</h3>
                <p class="text-light">Information Technology Development division, Febuary 2019-now</p>
                <p>
                    Information Technology Development division responsible to organization’s technology need. Working on some web-based application as a team, to fulfill organization’s project need.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto text-align-center">
                <img class="exp-img" src="{% static 'img/mentoria.svg' %}" alt="" />
            </div>
            <div class="col">
                <h3>Mentoria Indonesia</h3>
                <p class="text-light">Technology developer, June 2019-Sep 2019</p>
                <p>
                    Developing functional application for the company, based on their business need, and development.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}