{% extends 'navbar_layout.html' %}
{% block content %}
    <div class="text-align-center sec">
        <h1 id="info" class="p-5"></h1>
        <div>
            <div id="game" class="d-flex justify-content-center py-5"></div>
        </div>
        <button id="reset" class="d-none" onclick="start()">Restart</button>
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    var me;
    function start(){
        document.getElementById("reset").className="d-none";
        document.getElementById("info").innerHTML = 'Find "ME" in one of these box!';
        me = Math.floor(Math.random()*9)+1;
        var x="";
        for(i=1;i<=3;i++){
            x+="<tr>";
            for(j=1;j<=3;j++){
                var iD = j+(i-1)*3;
                x+="<td><input class='game-button' onclick=hit(id) id="+iD+" type='button'/></td>";
            }
            x+="</tr>";
        }
        document.querySelector('#game').innerHTML = "<table class='game-table'>"+x+"</table>";
    }

    function hit(id){
        if(id==me){
            document.getElementById(id).parentElement.innerHTML = "<center><h2>ME</h2></center>";
            document.getElementById("info").innerHTML = 'Yeay you found "ME"';
            document.getElementById("reset").className = "but btn btn-danger";       
        } else {
            document.getElementById(id).className += " hitted";
            document.getElementById(id).onclick = "";
        }
    }

    // document.getElementById('to-about').href = "/lab4#about";
    // document.getElementById('to-exp').href = "/lab4/#exp";
    // document.getElementById('to-skill').href = "/lab4/#skill";
    // document.getElementById('to-contact').href = "/lab4/#contact";
    // document.getElementById('to-game').href = "/lab4";
    // document.getElementById('to-game').innerText = "Home";      

    start();
</script>
{% endblock %}