{% extends 'navbar_layout.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="">
    <div class="landing sec d-flex justify-content-center align-items-center">
        <div class="text-align-center"> 
            <h1>Hi, I'm Leo</h1>
            <a href="/lab4/about">
                <button class="but btn btn-danger">Learn More</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}