{% extends 'navbar_layout.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="">
    <div class="landing sec d-flex justify-content-center align-items-center">
        <div class="text-align-center"> 
            <h1>Hi, I'm Leo</h1>
            <a href="#about">
                <button class="but btn btn-danger">Learn More</button>
            </a>
        </div>
    </div>
    <div class="sec" id="about">
        <div class="main about align-items-center">
            <div class="img align-items-center d-flex" ><img src="{% static 'img/ME.jpg' %}" alt="" /></div>
            <div class="info align-items-center d-flex">
                <div>
                    <h1>Leonardo</h1>
                    <h4>
                        Born 7 August 2000, i am young and creative web developer based in Jakarta. Information System student who currently study in University of Indonesia. Have great interest in software developing.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="experience sec container" id="exp">
        <h1 class="text-align-center mb-5 mt-5">Experiences</h1>
        <div class="row">
            <div class="col-md-auto text-align-center">
                <img class="exp-img" src="{% static 'img/ui.svg' %}" alt="" />
            </div>
            <div class="col">
                <h3>Information System - University of Indonesia</h3>
                <p class="text-light">Student, 2018-now</p>
                <p>
                    Studying in University of Indonesia since 2018 majoring in Information System.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto text-align-center">
                <img class="exp-img" src="{% static 'img/bem.svg' %}" alt="" />
            </div>
            <div class="col">
                <h3>BEM Fasilkom UI</h3>
                <p class="text-light">Information Technology Development division, Febuary 2019-now</p>
                <p>
                    Information Technology Development division responsible to organization’s technology need. Working on some web-based application as a team, to fulfill organization’s project need.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-auto text-align-center">
                <img class="exp-img" src="{% static 'img/mentoria.svg' %}" alt="" />
            </div>
            <div class="col">
                <h3>Mentoria Indonesia</h3>
                <p class="text-light">Technology developer, June 2019-Sep 2019</p>
                <p>
                    Developing functional application for the company, based on their business need, and development.
                </p>
            </div>
        </div>
    </div>
    <div class="skill sec" id="skill">
        <h1 class="text-align-center mb-5 mt-5">Skills</h1>
        <div class="container text-align-center sekil">
            <h3>HTML</h3>
            <h3>CSS</h3>
            <h3>JavaScript</h3>
            <h3>Phyton</h3>
            <h3>Java</h3>
            <h3>Ruby</h3>
            <h3>Django</h3>
            <h3>ReactJs</h3>
            <h3>Programming</h3>
        </div>
    </div>
    <div class="contact sec" id="contact">
        <h1 class="text-align-center mb-5 mt-5">Want to know me more?</h1>
        <br/><br/><br/>
        <h3 class="ml-5">Contact me on:</h3>
        <div class="d-flex flex-row justify-content-center">
            <div class="d-flex justify-content-center flex-column sos">
                <img class="social" src="{% static 'img/line.png' %}" alt="LINE_ID" />
                <h4 class="ah">LineID: leonardo2000</h4>
            </div>
            <div class="d-flex justify-content-center flex-column sos">
                <img class="social" src="{% static 'img/gmail.png' %}" alt="GMAIL" />
                <h4 class="ah">Email: leonardoeinstein2000 @gmail.com</h4>
            </div>
        </div>
    </div>
    <div class="game sec d-flex justify-content-center align-items-center">
        <div class="text-align-center"> 
            <h3>Wanna Play a Game?</h3>
            <a href="/lab4/game">
                <button class="but btn btn-danger">Play Game</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}