{% extends 'navbar_layout.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="">
    <div class="skill sec" id="skill">
        <h1 class="text-align-center mb-5 pt-5">Skills</h1>
        <div class="container text-align-center sekil">
            <h3>HTML</h3>
            <h3>CSS</h3>
            <h3>JavaScript</h3>
            <h3>Phyton</h3>
            <h3>Java</h3>
            <h3>Ruby</h3>
            <h3>Django</h3>
            <h3>ReactJs</h3>
            <h3>Programming</h3>
        </div>
    </div>
</div>
{% endblock %}