.body{
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
}

body {
    background-color: rgb(49, 49, 49);
    margin: 0;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center{
    text-align: center;
}

.p-container {
    width: 100vw;
}

h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: 'Roboto Slab', serif;
}

.img img{
    width: calc(15vw + 100px);
    height: auto;
    border-radius: 10px;
}

.img {
    margin: 10px;
}

.info {
    margin: 10px;
    max-width: 600px;
}

.button {
    border: 2px solid white;
    padding: 10px 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #00000000;
    margin: 4px;
}

button:hover{
    background-color: white;
    color: rgb(49, 49, 49);
    border-color: rgb(49, 49, 49);
}

.bflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}