.container {
    padding: 20px calc(0.6rem + 3vw);
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(rgb(211, 101, 101), rgb(114, 114, 207));
    font-family: 'Rubik', sans-serif;
    color: white;
}

body {
    margin: 0;
}

.jadwal-card{
    color: rgb(59, 59, 59);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(112, 112, 112);
    box-shadow: 0 0 10px rgb(76, 76, 76);
    margin: 20px 10px;
    background-color: rgb(212, 212, 212);
}

.jadwal-card > h2{
    margin: 0.5em;
}

.jadwal-card h4, .jadwal-card p {
    margin: 0
}

.button {
    border: 3px solid #741fdb;
    padding: 10px 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #812dca;
    margin: 4px;
    text-decoration: none;
}

.delete{
    background-color: rgb(223, 80, 80);
    border: 3px solid #e06767;    
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.form-cont {
    padding: 1em;
    width: 70%;
    background-image: linear-gradient(rgb(211, 101, 101) 0%, rgb(114, 114, 207) 90%);
    /* background-image: linear-gradient( rgb(211, 90, 90) 0%, rgb(212, 184, 90) 20%); */
    margin: 20px;
    /* padding: 20px 30px; */
    border-radius: 20px;
    min-height: 300px;

}

.form{
    display: flex;
    flex-direction: column;
}

.form-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(80, 101, 206);
    font-family: 'Rubik', sans-serif;
    color: white;
}

.jadwalfields{
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 5px 10px rgb(66, 66, 66);
    padding-left: 10px;
}

.datefield{
    margin-right: 5px;
}

.form p{
    margin: 0;
}

.full{
    width: 100%;
}

h2 > span{
    color: #b43434;
}