html {
    scroll-behavior: smooth;
  }

.yellow{
    background-color: #FFC400;
}

h1,h2,h3,h4,h5,h6{
    color: #B64E4A!important;
    font-family: 'Roboto Slab', serif!important;
    font-weight: bold;
}

h4{
    font-size: calc(1rem + 0.8vw);
}

h3{
    font-size: calc(1.25rem + 0.8vw);
}

.exp-img{
    width: 20vw;
    max-width: 200px;
    min-width: 140px;
}

p{
    font-weight: bold;
    font-family: 'Roboto Slab', serif!important;    
}

.sec{
    min-height: 100vh;
}

.landing h1{
    font-style: normal;
    font-weight: bold;
    font-size: calc(45px + 3vw);
    line-height: 127px;
    display: flex;
    align-items: center;
    text-align: center;
}

.but{
    background: #DE5F5A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: white!important;
    border: 0;
    font-family: 'Roboto Slab', serif!important;
    font-size: calc(10px + 1vw);
    min-width: 100px;
    font-weight: bold;
    padding: 8px 30px;
}

.text-align-center{
    text-align: center;
}

.sec h3, .sec h1{
    font-weight: bold;
}

.navbar-nav, .nav-item{
    float: right;
}

.navbar-dark .navbar-toggler{
    color: #B64E4A!important;
    border-color: #B64E4A;
    background-color: #B64E4A;

}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link{
    color: #B64E4A!important;
    font-weight: bold;
    font-family: 'Roboto Slab', serif!important;    
}

.sekil h3:hover{
    color:white!important;
}

.social {
    max-width: 200px;
    min-width: 100px;
    margin: auto;
    width: 20vw;
}

.contact h3{
    font-size: calc(0.75rem + 1vw);
}

.contact h1{
    font-size: calc(1.5rem + 1.1vw);
}

.ah {
    text-align: center;
    max-width: 250px;
}

.sos{
    margin: 20px 15px;
}

.sos h4{
    font-size: calc(0.5rem + 1vw);    
}

.game-button {
    border: 0;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #B64E4A;
    margin: 2px;
}

.game-button:hover{
    border: 3px solid white;
}

.hitted, .hitted:hover{
    background-color: transparent;
    border: none;
    cursor: default;
}

@media screen and (max-width: 767px){
    .row{
        text-align: center;
        padding-bottom: 20px;
    }

    /* .contact, .skill{
        min-height: 0;
    } */
}


@media screen and (max-width: 991px){
    .navbar-nav{
        background-color: #B64E4A;
        color: white;
        border-radius: 10px;
        padding: 0 5px;
    }
    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link{
        color: white!important;  
    }
}