{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'style1.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>PPW Leonardo</title>
</head>
<body onkeydown="specialEffect()" ontouchmove="specialEffect()" id="bodi">
    <div class="body">
        <div class="p-container">
            <div class="main">
                <div class="img"><img src="{% static 'img/ME.jpg' %}" alt="" /></div>
                <div class="info">
                    <h1>Leonardo</h1>
                    <h3>1806191023</h3>
                    <h3>Information System - University of Indonesia</h3>
                    <h4>Hobby: table tennis, listen to music, code, and mostly sleep</h4>
                    <h5>
                        Young and creative web developer based in Jakarta. 
                        Information System student who currently study in University of Indonesia.
                        Have great interest in software developing.
                        Taking website designing and programing class, and you're now looking at one of my assignment.
                    </h5>
                </div>
            </div>
            <div class="center">
                <h3 id="blink">Swipe or Hold any key</h3>
            </div>
        </div>
    </div>
</body>
    <script>
        var r=199;
        var g=49;
        var b=49;
        var max=199;
        var min=49;
        var phase;

        function specialEffect(){
            var col = color()
            document.getElementById('bodi').style.backgroundColor = col
        }

        function color(){
            switch(phase){
                case 1:
                    addG();
                    break;
                case 2:
                    decR();
                    break;
                case 3:
                    addB();
                    break;
                case 4:
                    decG();
                    break;
                case 5:
                    addR();
                    break;
                case 6:
                    decB();
                    break;
                default:
                    phase=1
            }
            return "rgb("+r+','+g+','+b+')'
        }

        function addG(){
            g==max ? nextPhase() : g+=5
        }
        function decG(){
            g==min ? nextPhase() : g-=5
        }
        function addR(){
            r==max ? nextPhase() : r+=5
        }
        function decR(){
            r==min ? nextPhase() : r-=5
        }
        function addB(){
            b==max ? nextPhase() : b+=5
        }
        function decB(){
            b==min ? nextPhase() : b-=5
        }
        function nextPhase(){
            phase++;
        }

        
        var blcol = true
        function blink(){
            blcol = !blcol
            document.getElementById('blink').style.color = blcol?'white':'black'
        }

        setInterval(blink, 750);
    </script>
</html>