{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{% static 'style1.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>PPW Leonardo Lab1</title>
</head>
<body onkeydown="specialEffect()" ontouchmove="specialEffect()" id="bodi">
    <div class="body">
        <div class="p-container">
            <div class="center">
                <h1>Welcome To PPW Leonardo</h1>
            </div>
            <div class="center">
                <h3 id="blink">Swipe or Hold any key</h3>
            </div>
            <div class="main">
                <div class="bflex">
                    <a href="/lab1">
                        <button class="button">
                            Story 1
                        </button>
                    </a>
                    <a target="blank" href="https://www.figma.com/file/LhsSROF54IrsBEbpF0PArK/PPW-Story-2">
                        <button class="button">
                            Story 2
                        </button>
                    </a>
                    <a href="/lab3">
                        <button class="button">
                            Story 3
                        </button>
                    </a>
                    <a href="/lab4">
                        <button class="button">
                            Story 4
                        </button>
                    </a>
                    <a href="/lab5">
                        <button class="button">
                            Story 5
                        </button>
                    </a>
                    <a href="http://ppwleonardo.herokuapp.com/lab6">
                        <button class="button">
                            Story 6
                        </button>
                    </a>
                    <a href="http://ppwleonardo.herokuapp.com/lab7">
                        <button class="button">
                            Story 7
                        </button>
                    </a>
                    <a href="http://ppwleonardo.herokuapp.com/lab8">
                        <button class="button">
                            Story 8
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
    <script>
        var r=199;
        var g=49;
        var b=49;
        var max=199;
        var min=49;
        var phase;

        function specialEffect(){
            var col = color()
            document.getElementById('bodi').style.backgroundColor = col
        }

        function color(){
            switch(phase){
                case 1:
                    addG();
                    break;
                case 2:
                    decR();
                    break;
                case 3:
                    addB();
                    break;
                case 4:
                    decG();
                    break;
                case 5:
                    addR();
                    break;
                case 6:
                    decB();
                    break;
                default:
                    phase=1
            }
            return "rgb("+r+','+g+','+b+')'
        }

        function addG(){
            g==max ? nextPhase() : g+=5
        }
        function decG(){
            g==min ? nextPhase() : g-=5
        }
        function addR(){
            r==max ? nextPhase() : r+=5
        }
        function decR(){
            r==min ? nextPhase() : r-=5
        }
        function addB(){
            b==max ? nextPhase() : b+=5
        }
        function decB(){
            b==min ? nextPhase() : b-=5
        }
        function nextPhase(){
            phase++;
        }

        
        var blcol = true
        function blink(){
            blcol = !blcol
            document.getElementById('blink').style.color = blcol?'white':'black'
        }

        setInterval(blink, 750);
    </script>
</html>