{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'style3.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>PPW Leonardo</title>
</head>
<body>
    <div class="yellow lab3 text-align-center sec">
        <h1 id="info" class="p-5"></h1>
        <div>
            <div id="game" class="d-flex justify-content-center py-5"></div>
        </div>
        <button id="reset" class="d-none" onclick="start()">Restart</button>
    </div>
</body>
<script type="text/javascript">
    var me;
    function start(){
        document.getElementById("reset").className="d-none";
        document.getElementById("info").innerHTML = 'Find "ME" in one of these box!';
        me = Math.floor(Math.random()*9)+1;
        var x="";
        for(i=1;i<=3;i++){
            x+="<tr>";
            for(j=1;j<=3;j++){
                var iD = j+(i-1)*3;
                x+="<td><input class='game-button' onclick=hit(id) id="+iD+" type='button'/></td>";
            }
            x+="</tr>";
        }
        document.querySelector('#game').innerHTML = "<table class='game-table'>"+x+"</table>";
    }

    function hit(id){
        if(id==me){
            document.getElementById(id).parentElement.innerHTML = "<center><h2>ME</h2></center>";
            document.getElementById("info").innerHTML = 'Yeay you found "ME"';
            document.getElementById("reset").className = "but btn btn-danger";       
        } else {
            document.getElementById(id).className += " hitted";
            document.getElementById(id).onclick = "";
        }
    }
    start();
</script>
</html>